# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyADJPo270xFJWb4LvdwsT0bFfBX6ZmRwEk
VITE_FIREBASE_AUTH_DOMAIN=website-7e897.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=website-7e897
VITE_FIREBASE_STORAGE_BUCKET=website-7e897.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=519082781158
VITE_FIREBASE_APP_ID=1:519082781158:web:6bfe071df3173616bc4e27
VITE_FIREBASE_MEASUREMENT_ID=G-0G5X9GDDLM
